@import url('https://fonts.googleapis.com/css2?family=Jost');

/*Basic styles and layout*/

:root {
  --fs-50: 0.875rem;
  --fs-100: 1rem;
  --fs-200: 1.125rem;
  --fs-300: 1.25rem;
  --fs-400: 1.5rem;
  --fs-500: 1.875rem;
  --fs-600: 2.25rem;
  --fs-700: 3rem;
  --primary-50: #FAFAFA;
  --primary-400: #a1a1aa;
  --primary-600: #52525b;
  --primary-700: #3f3f46;
  --primary-800: #27272a;
  --primary-900: #18181b;
  --primary-950: #09090b;
  --accent-300: #fdba74;
  --accent-500: #f97316;
  --accent-950: #431407;
  --error-700: #b91c1c;
}

* {
  margin: 0;
  box-sizing: border-box;
}

svg {
  pointer-events: none;
  fill: var(--primary-50);
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--primary-900);
  color: var(--primary-50);
  font-family: 'Jost', sans-serif;
  font-size: var(--fs-100);
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: inset(50%);
  word-wrap: normal;
}

main {
  padding: 64px 16px;
  justify-self: center;
  width: 100%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/*Headings*/

h1 {
  font-size: var(--fs-500);
  line-height: 1.1;
}


h2 {
  font-size: var(--fs-400);
  font-weight: 600;
}

h1+div {
  margin-top: 24px;
}

h1+p {
  margin-top: 16px;
}

/*Links*/

a,
a:visited {
  color: var(--primary-50);
}

a:active {
  color: var(--accent-500);
}

/*Header*/

header>nav {
  background-color: var(--primary-950);
  padding: 12px;
  border-top: 4px solid var(--accent-500);
}

header .wrapper {
  display: flex;
  padding: 16px;
  gap: 8px;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
  overflow: auto;
  padding: 0;
}

nav ul li {
  flex: 0 0 auto;
  font-size: var(--fs-200);
}

li a {
  text-decoration: none;
}

a.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: auto;
}

.logo svg {
  width: 24px;
  height: 24px;
}

a.logo:active svg {
  fill: var(--accent-500);
}

a.cart svg,
a.login svg {
  margin: 8px;
  width: 32px;
  height: 32px;
  fill: var(--accent-500);
}

form {
  margin-right: auto;
  display: flex;
  width: 100%;
}

a.cart {
  position: relative;
}

.number-objects {
  font-size: var(--fs-100);
  color: var(--primary-900);
  background-color: var(--primary-50);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 3px solid var(--primary-900);
  top: -10px;
  right: -5px;
}

a.cart svg {
  fill: var(--accent-500);
}

#search {
  border-radius: 12px 0 0 12px;
  padding: 8px;
  width: 100%;
  margin-top: 8px;
}

form button {
  border-radius: 0 12px 12px 0;
  background-color: var(--accent-500);
  border: 0;
  margin-top: 8px;
}

form button svg {
  fill: var(--accent-950);
}

/*Homepage categories*/

.category.scroll {
  grid-auto-flow: column;
  grid-auto-columns: 220px;
  overflow-x: auto;
}

.category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  margin-bottom: 32px;
}

.category>article {
  padding: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.category>article a {
  text-decoration: none;
  margin-top: 12px;
}

.category>article a::after {
  content: "";
  position: absolute;
  inset: 0;
}

.category article>img {
  align-self: center;
  max-height: 192px;
}

.category article p,
.price {
  font-size: var(--fs-500);
}

.category article p>span,
.price span {
  font-size: var(--fs-100);
  margin-left: 4px;
}

/*Error message*/

.warning {
  margin-top: 16px;
  font-size: var(--fs-200);
  display: flex;
}

.price+.warning,
.checkout .warning {
  font-size: var(--fs-100);
  font-weight: 600;
}

.checkout .warning {
  margin-bottom: 16px;
}

.warning svg {
  flex-shrink: 0;
  align-self: baseline;
  margin-right: 4px;
}

/*Single product page*/

.single-product {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.product-details {
  flex-grow: 2;
  flex-basis: 250px;
}

.single-product img {
  border-radius: 10px;
}

.single-product h1 {
  margin: 0;
  border: 0;
  display: block;
}

.featured {
  cursor: zoom-in;
  width: 100%;
  height: 348px;
  object-fit: cover;
}

.img-container>div:first-of-type {
  margin-bottom: 12px;
}

.img-container {
  border: 2px solid var(--primary-700);
  padding: 16px;
  border-radius: 10px;
  flex-basis: 384px;
}

.thumbnails {
  display: flex;
  gap: 12px;
  cursor: pointer;
}

.thumbnails img {
  max-height: 64px;
  max-width: 64px;
  object-fit: cover;
}

.single-product .quantity,
.checkout {
  padding: 16px;
  border-radius: 10px;
  background-color: var(--primary-700);
  flex-grow: 1;
  flex-basis: 150px;
}

.single-product .quantity>div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px 0;
}

/*Cart*/

.cart-checkout {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

.cart-checkout>div {
  flex-grow: 3;
}

.cart-checkout .checkout {
  flex-grow: 1;
}

.empty {
  display: block;
  text-align: center;
}

.empty+a {
  font-size: var(--fs-400);
  text-align: center;
  display: block;
  margin-top: 24px;
}

.cartProduct {
  border-bottom: 1px solid var(--primary-800);
  padding: 16px 0;
}

.cartProduct .quantity button {
  height: 36px;
}

.checkout button {
  font-size: var(--fs-400);
  background-color: var(--accent-500);
  color: var(--accent-950);
  border: 0;
  padding: 8px 16px;
  width: 100%;
}

.cartProduct h2 {
  border: 0;
  display: block;
  font-size: var(--fs-300);
  margin-bottom: 12px;
}

.cartProduct div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.checkout p {
  font-size: var(--fs-200);
  margin-bottom: 8px;
}

.checkout p:last-of-type {
  font-size: var(--fs-600);
  margin: 16px 0;
}

.cartProduct div>img {
  max-height: 96px;
  margin: 0 24px;
}

.cartProduct .quantity {
  gap: 8px;
}

/*Buttons and inputs*/

button,
input {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  border-radius: 10px;
  padding: 8px;
}

button {
  cursor: pointer;
  color: var(--primary-50);
  border: 2px solid var(--primary-50);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.quantity button:disabled {
  cursor: auto;
  color: var(--primary-800);
  border-color: var(--primary-800);
  background-color: transparent;
}

.quantity button:disabled svg {
  fill: var(--primary-800);
}

input:invalid {
  outline: 3px solid var(--accent-500);
}

input[type="number"],
button[value="plus"],
button[value="minus"] {
  width: 36px;
  height: 36px;
}

input[type="number"] {
  appearance: textfield;
  text-align: center;
  overflow: visible;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button.cart {
  font-size: var(--fs-400);
  margin-top: 16px;
  width: 100%;
  background-color: var(--accent-500);
  border-color: var(--accent-500);
  color: var(--accent-950);
}

button.cart svg {
  fill: var(--accent-950);
  height: 24px;
}

/*Modal*/

.modal {
  background: var(--primary-900);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.modal>div img {
  border-radius: 30px;
  max-height: 768px;
}

.modal>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 100%;
}

.modal>div:first-of-type {
  z-index: 3;
  background-color: var(--primary-900);
}

.modal>div:nth-of-type(2) {
  position: absolute;
  top: 50%;
  z-index: 3;
}

.modal>div:last-of-type {
  justify-content: center;
  height: 100%;
  padding: 0 36px;
}

.close {
  padding: 0;
  border: 0;
}

.arrow {
  background-color: var(--primary-50);
  border-color: var(--primary-900);
  width: 48px;
  height: 48px;
}

.arrow svg {
  fill: var(--primary-900);
}

.arrow:active {
  background-color: var(--accent-500);
  border-color: var(--accent-950);
}

.arrow:active svg {
  fill: var(--accent-950);
}

/*Footer*/

footer {
  background-color: var(--primary-950);
  padding: 24px;
}

footer .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer h2 {
  display: block;
  font-size: var(--fs-300);
  font-weight: 400;
}

footer svg {
  display: block;
  margin: 10px auto 0 auto;
}

/*Media queries*/

@media screen and (min-width: 400px) {
  nav ul {
    justify-content: center;
  }

  .thumbnails img {
    max-width: 96px;
    max-height: 96px;
  }
}

@media screen and (min-width: 520px) {
  .cartProduct .quantity {
    margin-left: auto;
  }

  a.logo {
    font-size: var(--fs-400);
  }

  .logo svg {
    width: 32px;
    height: 32px;
  }

}

@media screen and (min-width: 750px) {
  .single-product {
    gap: 24px;
  }
}

@media screen and (min-width: 800px) {

  .logo svg {
    width: 48px;
    height: 48px;
  }

  .category {
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    margin-bottom: 64px;
  }

  .category.scroll {
    grid-auto-flow: row;
  }

  h1,
  h2 {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
  }

  h1 {
    font-size: var(--fs-700);
  }

  h2 {
    font-size: var(--fs-600);
    margin-bottom: 16px;
  }

  h1::after,
  h2::after {
    content: "";
    border-top: 2px solid var(--primary-50);
    align-self: center;
  }

  a.login,
  a.cart {
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid var(--accent-500);
  }

  a.cart svg,
  a.login svg {
    width: 24px;
    height: 24px;
    margin: 0;
  }

  a.login svg {
    fill: var(--accent-950);
  }

  a.login {
    color: var(--accent-950);
    background-color: var(--accent-500);
    font-weight: 700;
    text-decoration: none;
  }

  a.cart {
    color: var(--accent-500);
  }

  .number-objects {
    top: -15px;
    right: -15px;
  }

  .cart,
  .login {
    display: flex;
    align-items: center;
    font-size: var(--fs-300);
    gap: 8px;
  }

}

@media screen and (min-width: 950px) {

  a.logo {
    margin-right: 16px;
  }

  a.login {
    order: 3;
  }

  a.cart {
    order: 4;
  }

  #search,
  form button {
    margin-top: 0;
  }

  form {
    align-self: center;
    width: 384px;
  }

  .category {
    gap: 24px;
  }

}

@media screen and (min-width: 1160px) {
  main {
    max-width: 1160px;
  }
}

@media (hover: hover) {
  nav:hover {
    overflow-x: scroll;
  }

  a:hover {
    color: var(--accent-500);
  }

  a:hover svg,
  .quantity button:hover svg {
    fill: var(--accent-950);
  }

  article a:hover {
    text-decoration: underline;
  }

  a.login:hover,
  a.cart:hover,
  button:hover,
  .quantity button.cart:hover {
    background-color: var(--accent-300);
    border-color: var(--accent-300);
    color: var(--accent-950);
  }

  a.logo:hover svg,
  .close:hover svg {
    fill: var(--accent-500);
  }

  a.cart:hover .number-objects {
    transform: scale(1.2);
  }

  .quantity button:hover {
    background-color: var(--accent-500);
    border-color: var(--accent-500);
  }

  .close:hover {
    background-color: transparent;
  }

  .arrow:hover {
    background-color: var(--accent-500);
    border-color: var(--accent-950);
  }

  .quantity button:disabled:hover {
    cursor: auto;
    color: var(--primary-800);
    border-color: var(--primary-800);
    background-color: transparent;
  }

  .quantity button:disabled:hover svg {
    fill: var(--primary-800);
  }

  @media screen and (max-width:799px) {

    a.login:hover,
    a.cart:hover {
      background-color: transparent;
    }

    a.login:hover svg,
    a.cart:hover svg {
      fill: var(--accent-300);
    }
  }

}

@media (hover:none) {

  nav ul::-webkit-scrollbar,
  .category::-webkit-scrollbar {
    display: none;
  }

  nav ul,
  .category {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}