@import url('https://fonts.googleapis.com/css2?family=Jost');

/*Basic styles and layout*/

:root {
  --fs-50: 0.875rem;
  --fs-100: 1rem;
  --fs-200: 1.125rem;
  --fs-300: 1.25rem;
  --fs-400: 1.5rem;
  --fs-500: 1.875rem;
  --fs-600: 2.25rem;
  --fs-700: 3rem;
  --primary-50: #FAFAFA;
  --primary-400: #a1a1aa;
  --primary-600: #52525b;
  --primary-900: #18181b;
  --primary-950: #09090b;
  --accent-300: #fdba74;
  --accent-500: #f97316;
  --accent-950: #431407;
  --error-700: #b91c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  pointer-events: none;
  fill: var(--primary-50);
}

img {
  max-width: 100%;
}

body {
  background-color: var(--primary-900);
  color: var(--primary-50);
  font-family: 'Jost', sans-serif;
  font-size: var(--fs-100);

}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: inset(50%);
  word-wrap: normal;
}

main {
  padding: 64px 16px;
  justify-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/*Headings*/

h1 {
  font-size: var(--fs-500);
  line-height: 1.1;
}


h2 {
  font-size: var(--fs-400);
  font-weight: 600;
}

h1+p,
h1+div,
h2+div {
  margin-top: 32px
}

/* h2+div {
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

/*Links*/

a,
a:visited {
  color: var(--primary-50);
}

a:active {
  color: var(--accent-500);
}

/*Header*/

header>nav {
  background-color: var(--primary-950);
  padding: 10px;
  border-top: 4px solid var(--accent-500);
}

header>div {
  display: flex;
  padding: 16px;
  gap: 8px;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0 12px;
  flex-wrap: nowrap;
  overflow: auto;
}

nav ul a {
  text-decoration: none;
  flex: 0 0 auto;
}

a.logo {
  text-decoration: none;
  font-size: var(--fs-100);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: auto;
  flex-shrink: 0;
}

.logo svg {
  width: 24px;
  height: 24px;
}

a.logo:active svg {
  fill: var(--accent-500);
}

a.cart svg,
a.login svg {
  margin: 8px;
  width: 32px;
  height: 32px;
}

form {
  margin-right: auto;
  display: flex;
  width: 100%;
}

.cart {
  position: relative;
}

.number-objects {
  font-size: var(--fs-100);
  color: var(--primary-900);
  background-color: var(--primary-50);
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 32px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 3px solid var(--primary-900);
  top: -10px;
  right: -5px;
}

a.cart svg,
a.login svg {
  fill: var(--accent-500);
}

#search {
  border-radius: 12px 0 0 12px;
  text-align: left;
  padding: 8px;
  width: 100%;
  margin-top: 8px;
}

form button {
  border-radius: 0 12px 12px 0;
  background-color: var(--accent-500);
  border: 0;
  margin-top: 8px;
}

form button svg {
  fill: var(--accent-950);
}

/*Homepage categories*/

.category.scroll {
  grid-auto-flow: column;
  grid-auto-columns: 220px;
  overflow-x: auto;
}

.category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  margin-bottom: 32px;
}

.category>article {
  padding: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.category>article a {
  text-decoration: none;
  margin-top: 12px;
}

.category>article a::after {
  content: "";
  position: absolute;
  inset: 0;
}

.category article>img {
  align-self: center;
  max-height: 192px;
}

.category article p {
  font-size: var(--fs-500);
}

.category article p>span {
  font-size: var(--fs-100);
  margin-left: 4px;
}

/*Error message*/

.warning {
  background-color: rgb(164, 2, 2);
  padding: 2px 10px;
  border-radius: 10px;
  margin-top: 30px;
}

/*Single product page*/

.featured {
  object-fit: cover;
  cursor: zoom-in;
}

.single-product img {
  border: 3px solid var(--primary-50);
}

.single-product h1 {
  margin: 0;
  border: 0;
}

.price {
  margin-top: 30px;
  background-color: #3c3c40;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 2.5rem;
}

.thumbnails {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.thumbnails img {
  max-height: 130px;
  max-width: 130px;
  object-fit: cover;
}

.single-product {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 10px;
}

/*Cart*/

.cartProduct {
  border-bottom: 3px solid var(--primary-50);
  padding: 15px 0;
}

.cartProduct>div {
  flex-wrap: wrap;
}

.cartProduct h2 {
  border: 0;
}

.cartProduct~p {
  margin-top: 10px;
  text-align: right;
}

.cartProduct~p:last-of-type {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.cartProduct div>img {
  max-width: 150px;
}

/*Buttons and inputs*/

button,
input {
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  border: 0;
  border-radius: 10px;
  padding: 10px;
}

button {
  cursor: pointer;
  color: var(--primary-50);
  border: 2px solid #ffffff;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: transform 200ms ease-out;
  transition-delay: 250ms;
}

button:disabled {
  cursor: auto;
  color: #3c3c40;
  border-color: #3c3c40;
}

button:disabled svg {
  fill: #3c3c40;
}

input:invalid {
  outline: 3px solid var(--accent-500);
}

.quantity>input,
button[value="plus"],
button[value="minus"] {
  appearance: textfield;
  width: 42px;
  height: 42px;
}

.quantity {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  flex-wrap: wrap;
}

.quantity>* {
  flex-shrink: 1;
}

button.cart {
  font-size: 1.7rem;
  margin-top: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Modal*/

.overlay {
  position: fixed;
  inset: 0;
  background: #1e1e20;
  z-index: 1;
}

.modal {
  width: 100vw;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.modal>img {
  border-radius: 30px;
}

.modal>div>button {
  margin: 0;
}

.modal>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

p+button {
  margin: 0 auto;
  font-size: 1.8rem;
}

button[value="minus"]+button {
  height: 42px;
}

/*Footer*/

footer {
  background-color: var(--primary-950);
  padding: 24px;
}

footer .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer h2 {
  display: block;
  font-size: var(--fs-300);
  font-weight: 400;
}

footer svg {
  display: block;
  margin: 10px auto 0 auto;
}

/*Media queries*/

@media screen and (min-width: 400px) {
  nav ul {
    justify-content: center;
  }
}

@media screen and (min-width: 500px) {
  a.logo {
    font-size: var(--fs-400);
  }

  .logo svg {
    width: 32px;
    height: 32px;
  }

}

@media screen and (min-width: 800px) {

  .logo svg {
    width: 48px;
    height: 48px;
  }

  .category {
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    margin-bottom: 64px;
  }

  .category.scroll {
    grid-auto-columns: 0;
    grid-auto-flow: row;
  }

  h1,
  h2 {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
  }

  h1 {
    font-size: var(--fs-700);
  }

  h2 {
    font-size: var(--fs-600);
  }

  h1::after,
  h2::after {
    content: "";
    border-top: 2px solid var(--primary-50);
    align-self: center;
  }

  a.login,
  a.cart {
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid var(--accent-500);
  }

  a.cart svg,
  a.login svg {
    width: 24px;
    height: 24px;
    margin: 0;
  }

  a.login svg {
    fill: var(--accent-950);
  }

  a.login {
    color: var(--accent-950);
    background-color: var(--accent-500);
    font-weight: 700;
    text-decoration: none;
  }

  a.cart {
    color: var(--accent-500);
  }

  .number-objects {
    top: -15px;
    right: -15px;
  }

  .cart,
  .login {
    display: flex;
    align-items: center;
    font-size: var(--fs-300);
    gap: 8px;
  }

  .featured {
    width: 320px;
    height: 320px;
  }

  .single-product {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .thumbnails img {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: 950px) {
  header>div {
    flex-wrap: nowrap;
  }

  a.logo {
    margin-right: 16px;
  }

  .login {
    order: 3;
  }

  .cart {
    order: 4;
  }

  #search,
  form button {
    margin-top: 0;
  }

  form {
    align-self: center;
    height: 2.5rem;
    width: 384px;
  }

}

@media screen and (min-width: 1160px) {
  main {
    max-width: 1160px;
  }

  .featured {
    width: 450px;
    height: 450px;
  }

  .thumbnails img {
    height: 130px;
    width: 130px;
  }

  .modal {
    width: auto;
  }

  .modal>img {
    max-height: 700px;
  }
}

@media (hover: hover) {
  a:not(.login):hover {
    color: var(--accent-500);
  }

  nav:hover {
    overflow-x: scroll;
  }

  a.logo:hover svg,
  button:not(form button):hover svg {
    fill: var(--accent-500);
  }

  form button:hover,
  .login:hover {
    background-color: var(--accent-300);
    border-color: var(--accent-300);
  }

  a.cart:hover {
    border-color: var(--accent-300);
    color: var(--accent-300);
  }

  .cart:hover svg {
    fill: var(--accent-300);
  }

  .cart:hover .number-objects {
    transform: scale(1.2);
  }

  button:hover {
    color: var(--accent-500);
  }

  .category>article a:hover {
    color: var(--accent-500);
  }

  .category>article a:hover {
    text-decoration: underline;
  }

  button:disabled:hover {
    cursor: auto;
    color: #3c3c40;
    border-color: #3c3c40;
    transition: none;
  }

  button:disabled:hover svg {
    fill: #3c3c40;
  }
}

@media (hover:none) {

  nav ul::-webkit-scrollbar,
  .category::-webkit-scrollbar {
    display: none;
  }

  nav ul,
  .category {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (prefers-reduced-motion: reduce) {

  a.cart,
  button {
    transition: none;
  }
}